<div class="span8 well">
  <em>"<%= comment.body %>"</em>
  <br>
  <span class="quiet">by</span> <%= comment.creator ? comment.creator.username : "(none)" %>
  <small>
    at <%= format_datetime(comment.created_at) %>
  </small>
</div>
